bin/
docs/
kernel/include/images/fennec1.raw
kernel/include/images/fennec2.raw
kernel/include/images/fennec3.raw
kernel/include/images/fennec_vesa.raw
kernel/include/images/lua_sunset.raw
kernel/include/images/ry.raw
kernel/include/images/test.raw
kernel/include/images/test.xcf
kernel/include/font/12x16.inc
kernel/include/font/12x16.png
kernel/include/font/16x16.inc
kernel/include/font/16x16.png
kernel/include/font/16x16.xcf
kernel/include/font/unifont.xcf
kernel/include/font/unifont-thin.xcf
kernel/include/font/gfx2inc.py
ideas.txt